.cell {
    border: '1px solid #999';
    cursor: 'pointer';
    margin: '1px';
    position: 'relative';
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
}

.createPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}



.grid {
    &__container {
        display: flex;
    }

    &__cell {
        outline: none;
        width: 4rem;
        height: 4rem;
        background-color: yellow;
        border: 2px solid black;
        position: relative;
        border-bottom-color: blue;
        border-left-color: blue;
        border-right-color: red;
        border-top-color: red;

        &--selected-tri {
            background-color: blue;
        }

        &--selected {
            border-color: blue;
            border-width: 4px;
        }

        &--white {
            background-color: white;
        }

        &--grey {
            background-color: gray;
        }

        &--duplicate {
            background-color: red;
        }

        &--errors {
            background-color: lightcoral;
        }
    }

    &__cell-triangle {
        position: relative;
        width: 4rem;
        height: 4rem;
    }

    &__triangle {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        clip-path: polygon(0 0, 100% 100%, 0 100%);
        background: #ff6b6b;

        &--selected {
            background-color: blue;
        }

        &--grey {
            background-color: gray;
        }

        &--hidden {
            display: none;
        }

        path {
            stroke: black;
            stroke: royalblue;
            stroke-width: 0.5rem;
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            clip-path: polygon(0 0, 100% 100%, 0 100%);
            border: 0px solid black;
            pointer-events: none;
        }
    }

    &__triangle-number {
        position: absolute;
        top: 65%;
        left: 30%;
        transform: translate(-50%, -50%);
        cursor: default;

        &--hidden {
            display: none;
        }

        &--selected {
            color: white;

            &--blink {
                animation: text-select 2s steps(8, start) 2s infinite;
            }
        }
    }

    &__cell-number {
        position: absolute;
        bottom: 50%;
        right: 30%;
        z-index: 10;
        cursor: default;

        &--center {
            bottom: 10%;
            right: 35%;
            font-size: 2rem;
        }

        &--hidden {
            display: none;
        }

        &--selected {
            color: white;

            &--dark {
                color: black;
            }

            &--blink {
                animation: text-select 2s steps(8, start) 2s infinite;
                animation-delay: 2s;
            }
        }
    }

    &__arrow-right {
        width: 1rem;
        position: absolute;
        left: 2.75rem;
        top: 0.75rem;

        &--hidden {
            display: none;
        }

        &--selected {
            color: white;
        }
    }

    &__arrow-down {
        width: 1rem;
        position: absolute;
        left: 0.75rem;
        top: 2.75rem;
        transform: rotate(90deg);

        &--hidden {
            display: none;
        }

        &--selected {
            color: white;
        }
    }


}

.options {

    // display: flex;
    // flex-direction: column;
    gap: .625rem;

    button {
        border: 2px solid black;
    }

    &__button {
        border: 2px solid black;

        &--active {
            border-color: black;
        }
    }
}

.select {
    margin-bottom: 2rem;

    &__container {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

    &__key {

        color: gray;
        font-size: 0.8rem;
    }

    &__black {
        height: 3rem;
        width: 3rem;
        background-color: black;
        cursor: pointer;

        &--active {
            border: 4px solid lightblue;
        }
    }

    &__white {
        height: 3rem;
        width: 3rem;
        background-color: white;
        border: 2px solid grey;
        cursor: pointer;

        &--active {
            border: 4px solid lightblue;
        }
    }
}

.choose {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 18rem;
    background-color: rgb(208, 246, 212);
    border-radius: .625rem;
    padding: 1rem;
    margin-top: 6rem;

    button {
        border: 1px solid black;
        margin: 10px;

    }
}

.select-color {
    color: #ff6b6b;
    position: absolute;
    right: 2rem;
    bottom: 20rem;
    animation: blink 4s infinite;

    &--hidden {
        display: none;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }
}

@keyframes text-select {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }
}

.enter-num {
    display: none;

    &--show {
        display: block;
    }
}

.grid-choose {
    display: flex;
    gap: 5rem;
}

.grid-color {}



#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}