@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;

.header {
    padding: 1.5rem 1.5rem;
    background-color: rgb(108, 204, 108);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 4rem;
    padding: 4rem;
    height: 0px;

    @include tablet {
        flex-direction: row;
        width: 100%;
        padding: 1.75rem 6rem;
        gap: 200px;
    }

    @include desktop {
        gap: 600px;

        padding: 1.75rem 8rem;
    }

    &__image {
        height: 1.75rem;
    }

    &__links {
        margin-left: 8rem;

        display: flex;
        // justify-content: space-around;


        @include tablet {
            width: 100%;
            gap: .5rem;
        }

        .active {
            color: white;
            background-color: darkcyan;
        }
    }

    &__link {
        width: 150px;
        height: 2.25rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet {
            padding: 0 1rem;
            height: 2.375rem;

        }

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}