@use "./styles/typography";
@use "./styles/colors" as *;
@use "./styles/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}


:root {
  overflow-x: hidden;

  font-family: MainFont, Montserrat, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #6bff86;
  text-decoration: inherit;
}

a:hover {
  color: #0fc48d;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 20rem;
  min-height: 100vh;
  background-color: rgb(218, 252, 212);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(193, 240, 185) 100%)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #1e962e;
  border-width: 2px;
  background-color: lightgreen;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  font-size: 16px;
  padding: 10px;
  border: 2px solid #1e962e;
  border-radius: 8px;
  width: 50%;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}

input:focus {
  outline: none;
  border-color: lightgreen;
  box-shadow: 0 0 10px rgba(93, 255, 90, 0.3);
}

input::placeholder {
  color: rgba(93, 255, 90, 0.3);
}

.text {
  font-size: 1.125rem;
  font-weight: bold;
  color: #333;
  letter-spacing: 0.5px;
}

.footer {
  margin-top: 4rem;

  a {
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-shadow:
      1px 1px 0px black,
      -1px -1px 0px black,
      1px -1px 0px black,
      -1px 1px 0px black;

    &:hover {
      text-shadow:
        1px 1px 0px #0b3e0e,
        -1px -1px 0px #91d695,
        1px -1px 0px #91d695,
        -1px 1px 0px #0b3e0e;
    }
  }

  &--home {
    margin-top: 0;
  }

  &--hide {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #17a421;
  }

  button {
    background-color: rgb(210, 249, 208);
  }
}